.main {
  display: flex;
  gap: 1.8rem 0;
  flex-direction: column;
}
.container {
  width: 100%;
  margin: 0px auto;
}
.icon {
  width: 1rem;
  height: 1rem;
}
@media (min-width: 640px) {
  .container {
    padding: 0.75rem;
    max-width: 640px;
    margin-bottom: 1.5rem;
  }
  .title {
    font-size: 1.8rem;
  }
}
.title {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
