.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
}
.header button {
  cursor: pointer;
  outline-style: none;
  background: none;
  border: none;
  font-size: 20px;
}
.menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 0px 24px;
}
