.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
}
.header button {
  cursor: pointer;
  outline-style: none;
  background: none;
  border: none;
  font-size: 16px;
}
.menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0px 14px;
}
.loginLink {
  display: none;
}
.logo__wrapper img {
  width: 65px;
  height: 65px;
}
@media (min-width: 640px) {
  .menu,
  .header button {
    font-size: 18px;
  }
  .loginLink {
    display: inline-block;
  }
  .menu {
    gap: 0px 24px;
  }
  .logo__wrapper img {
    width: 105px;
    height: 105px;
  }
}
@media (min-width: 768px) {
  .menu,
  .header button {
    font-size: 20px;
  }
  .logo__wrapper img {
    width: 110px;
    height: 110px;
  }
}
